<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人房产</title> 
    <link rel="icon" type="image/x-icon" href="./static/assets/favicon.ico">
    <link rel="stylesheet" href="./static/css/Montserrat.css">
    <link rel="stylesheet" href="./static/css/icon.css">   
    <link rel="stylesheet" href="./static/css/libs/swiper.min.css">
    <link rel="stylesheet" href="./static/css/libs/material-components-web.min.css">  
    <link rel="stylesheet" href="./static/css/style.css"> 
    <link rel="stylesheet" href="./static/css/skins/blue.css">  
    <link rel="stylesheet" href="./static/css/responsive.css">  
</head>
<body class="mdc-theme--background"> 
    <div class="spinner-wrapper" id="preloader">
        <div class="spinner-container">
            <div class="spinner-outer">
                <div class="spinner">
                    <div class="left mask">
                        <div class="plane"></div>  
                    </div>            
                    <div class="top mask">
                        <div class="plane"></div>
                    </div>
                    <div class="right mask">
                        <div class="plane"></div>  
                    </div>            
                    <div class="triangle">
                        <div class="triangle-plane"></div> 
                    </div>
                    <div class="top-left mask">
                        <div class="plane"></div>
                    </div>
                    <div class="top-right mask">
                        <div class="plane"></div>
                    </div>            
                </div>
                <p class="spinner-text">HouseKey</p> 
            </div>
        </div>
    </div> 
    <div class="options transition">
        <button id="options-toggle" class="mdc-button options-icon mdc-elevation--z0"> 
            <i class="material-icons m-0 palette">palette</i>
            <i class="material-icons m-0 close">close</i>
        </button>
        <div class="mdc-card column between-xs middle-xs">
            <div class="skin-primary blue" data-name="blue"></div>
            <div class="skin-primary green" data-name="green"></div>
            <div class="skin-primary red" data-name="red"></div>
            <div class="skin-primary pink" data-name="pink"></div>
            <div class="skin-primary purple" data-name="purple"></div>
            <div class="skin-primary grey" data-name="grey"></div> 
            <div class="skin-primary orange-dark" data-name="orange-dark"><div class="skin-secondary"></div></div> 
        </div> 
    </div>  
    <aside class="mdc-drawer mdc-drawer--modal sidenav">
        <div class="row end-xs middle-xs py-1 px-3">
            <button id="sidenav-close" class="mdc-icon-button material-icons warn-color">close</button> 
        </div>
        <hr class="mdc-list-divider m-0">
        <div class="mdc-drawer__content"> 
            <div class="vertical-menu">   
                <div class="mdc-menu-surface--anchor"> 
                    <a href="javascript:void(0);" class="mdc-button menu-item-has-children"> 
                        <span class="mdc-button__ripple"></span> 
                        <span class="mdc-button__label">首页</span>
                    </a>  
                    <div class="mdc-menu mdc-menu-surface">
                        <div class="mdc-list"> 
                            <div> 
                                <a href="header-default.html" class="mdc-button"> 
                                    <span class="mdc-button__ripple"></span>
                                    <span class="mdc-button__label">主页</span> 
                                </a>  
                            </div>
                            <div> 
                                <a href="index" class="mdc-button"> 
                                    <span class="mdc-button__ripple"></span>
                                    <span class="mdc-button__label">首页</span> 
                                </a>  
                            </div>  

                              
                        </div>
                    </div>  
                </div>   
                <div>
                    <a href="properties.html" class="mdc-button">
                        <span class="mdc-button__ripple"></span>
                        <span class="mdc-button__label">筛选</span> 
                    </a> 
                </div>  
                <div class="mdc-menu-surface--anchor"> 
                    <a href="javascript:void(0);" class="mdc-button menu-item-has-children"> 
                        <span class="mdc-button__ripple"></span> 
                        <span class="mdc-button__label">更多</span> 
                    </a>  
                    <div class="mdc-menu mdc-menu-surface">
                        <div class="mdc-list"> 
                            <div> 
                                <a href="property.html" class="mdc-button"> 
                                    <span class="mdc-button__ripple"></span>
                                    <span class="mdc-button__label">个人财产</span> 
                                </a>  
                            </div><div> 
                                <a href="agents.html" class="mdc-button"> 
                                    <span class="mdc-button__ripple"></span>
                                    <span class="mdc-button__label">代理</span> 
                                </a>  
                            </div>

                            <div> 
                                <a href="login.html" class="mdc-button"> 
                                    <span class="mdc-button__ripple"></span>
                                    <span class="mdc-button__label">登录</span> 
                                </a>  
                            </div>
                            <div> 
                                <a href="register.html" class="mdc-button"> 
                                    <span class="mdc-button__ripple"></span>
                                    <span class="mdc-button__label">注册</span> 
                                </a>  
                            </div>
                            <div> 
                                <a href="faqs.html" class="mdc-button"> 
                                    <span class="mdc-button__ripple"></span>
                                    <span class="mdc-button__label">常见问题解答</span> 
                                </a>  
                            </div>
                            <div> 
                                <a href="pricing.html" class="mdc-button"> 
                                    <span class="mdc-button__ripple"></span>
                                    <span class="mdc-button__label">价钱</span> 
                                </a>  
                            </div>
                            <div> 
                                <a href="terms.html" class="mdc-button"> 
                                    <span class="mdc-button__ripple"></span>
                                    <span class="mdc-button__label">条款与条件</span> 
                                </a>  
                            </div>
                            <div> 
                                <a href="index" class="mdc-button"> 
                                    <span class="mdc-button__ripple"></span>
                                    <span class="mdc-button__label">平台</span> 
                                </a>  
                            </div>
                            <div> 
                                <a href="404.html" class="mdc-button"> 
                                    <span class="mdc-button__ripple"></span>
                                    <span class="mdc-button__label">404页面</span> 
                                </a>  
                            </div> 
                             
                        </div>
                    </div>  
                </div> 
                <div>
                    <a href="contact.html" class="mdc-button">
                        <span class="mdc-button__ripple"></span>
                        <span class="mdc-button__label">联系</span> 
                    </a> 
                </div> 
                <div>
                    <a href="about.html" class="mdc-button">
                        <span class="mdc-button__ripple"></span>
                        <span class="mdc-button__label">关于我们</span> 
                    </a> 
                </div>  
            </div>  
        </div>
        <hr class="mdc-list-divider m-0">
        <div class="row center-xs middle-xs py-3">
            <a href="https://www.facebook.com/" target="blank" class="social-icon">
                <svg class="material-icons mat-icon-xlg primary-color" viewBox="0 0 24 24">
                    <path d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z" />
                </svg>
            </a>
            <a href="https://twitter.com/" target="blank" class="social-icon">
                <svg class="material-icons mat-icon-xlg primary-color" viewBox="0 0 24 24">
                    <path d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M17.71,9.33C18.19,8.93 18.75,8.45 19,7.92C18.59,8.13 18.1,8.26 17.56,8.33C18.06,7.97 18.47,7.5 18.68,6.86C18.16,7.14 17.63,7.38 16.97,7.5C15.42,5.63 11.71,7.15 12.37,9.95C9.76,9.79 8.17,8.61 6.85,7.16C6.1,8.38 6.75,10.23 7.64,10.74C7.18,10.71 6.83,10.57 6.5,10.41C6.54,11.95 7.39,12.69 8.58,13.09C8.22,13.16 7.82,13.18 7.44,13.12C7.81,14.19 8.58,14.86 9.9,15C9,15.76 7.34,16.29 6,16.08C7.15,16.81 8.46,17.39 10.28,17.31C14.69,17.11 17.64,13.95 17.71,9.33Z" />
                </svg> 
            </a>
            <a href="https://www.linkedin.com/" target="blank" class="social-icon"> 
                <svg class="material-icons mat-icon-xlg primary-color" viewBox="0 0 24 24">
                    <path d="M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19M18.5,18.5V13.2A3.26,3.26 0 0,0 15.24,9.94C14.39,9.94 13.4,10.46 12.92,11.24V10.13H10.13V18.5H12.92V13.57C12.92,12.8 13.54,12.17 14.31,12.17A1.4,1.4 0 0,1 15.71,13.57V18.5H18.5M6.88,8.56A1.68,1.68 0 0,0 8.56,6.88C8.56,5.95 7.81,5.19 6.88,5.19A1.69,1.69 0 0,0 5.19,6.88C5.19,7.81 5.95,8.56 6.88,8.56M8.27,18.5V10.13H5.5V18.5H8.27Z" />
                </svg>
            </a>
            <a href="https://plus.google.com/" target="blank" class="social-icon"> 
                <svg class="material-icons mat-icon-xlg primary-color" viewBox="0 0 24 24">
                    <path d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M19.5,12H18V10.5H17V12H15.5V13H17V14.5H18V13H19.5V12M9.65,11.36V12.9H12.22C12.09,13.54 11.45,14.83 9.65,14.83C8.11,14.83 6.89,13.54 6.89,12C6.89,10.46 8.11,9.17 9.65,9.17C10.55,9.17 11.13,9.56 11.45,9.88L12.67,8.72C11.9,7.95 10.87,7.5 9.65,7.5C7.14,7.5 5.15,9.5 5.15,12C5.15,14.5 7.14,16.5 9.65,16.5C12.22,16.5 13.96,14.7 13.96,12.13C13.96,11.81 13.96,11.61 13.89,11.36H9.65Z" />
                </svg>
            </a>
        </div>  
    </aside>
    <div class="mdc-drawer-scrim sidenav-scrim"></div>  
    <header class="toolbar-1">  
        <div id="top-toolbar" class="mdc-top-app-bar"> 
            <div class="theme-container row between-xs middle-xs h-100">
                    <button id="sidenav-toggle" class="mdc-button mdc-ripple-surface d-md-none d-lg-none d-xl-none">
                        <span class="mdc-button__ripple"></span>
                        <i class="material-icons">menu</i>
                    </button>
                    <div class="mdc-menu-surface--anchor"> 
                        <button class="mdc-button mdc-ripple-surface"> 
                            <span class="mdc-button__ripple"></span>
                            <i class="material-icons mdc-button__icon mx-1">people</i>
                            <span class="mdc-button__label">账户</span>
                            <i class="material-icons mdc-button__icon m-0">sorrow_drop_down</i>
                        </button> 
                        <div class="mdc-menu mdc-menu-surface user-menu">
                            <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
                                <li class="user-info row start-xs middle-xs">                   
                                    <img src="./static/assets/images/others/user.jpg" alt="user-image" width="50">
                                    <p class="m-0">昵称 <br> <small><i>账户名</i></small></p>
                                </li>
                                <li role="separator" class="mdc-list-divider m-0"></li> 
                                <li>
                                    <a href="submit-property.html" class="mdc-list-item" role="menuitem">
                                        <i class="material-icons mat-icon-sm text-muted">add_circle</i> 
                                        <span class="mdc-list-item__text px-3">上架房屋</span>
                                    </a> 
                                </li>
                                <li>
                                    <a href="my-properties.html" class="mdc-list-item" role="menuitem">
                                        <i class="material-icons mat-icon-sm text-muted">home</i>
                                        <span class="mdc-list-item__text px-3">我的财产</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="favorites.html" class="mdc-list-item" role="menuitem">
                                        <i class="material-icons mat-icon-sm text-muted">favorite_border</i> 
                                        <span class="mdc-list-item__text px-3">我的喜爱
                                            <span class="badge warn">2</span>
                                        </span> 
                                    </a>
                                </li>
                                <li>
                                    <a href="compare.html" class="mdc-list-item" role="menuitem">
                                        <i class="material-icons mat-icon-sm text-muted">compare_arrows</i> 
                                        <span class="mdc-list-item__text px-3">对比
                                            <span class="badge primary">3</span>
                                        </span> 
                                    </a>
                                </li> 
                                <li>
                                    <a href="#" class="mdc-list-item" role="menuitem">
                                        <i class="material-icons mat-icon-sm text-muted">search</i> 
                                        <span class="mdc-list-item__text px-3">保存搜索</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="profile.html" class="mdc-list-item" role="menuitem">
                                        <i class="material-icons mat-icon-sm text-muted">edit</i> 
                                        <span class="mdc-list-item__text px-3">编辑配置文件</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="lock-screen.html" class="mdc-list-item" role="menuitem">
                                        <i class="material-icons mat-icon-sm text-muted">lock</i> 
                                        <span class="mdc-list-item__text px-3">锁定屏幕</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="faqs.html" class="mdc-list-item" role="menuitem">
                                        <i class="material-icons mat-icon-sm text-muted">help</i> 
                                        <span class="mdc-list-item__text px-3">帮助</span>
                                    </a>
                                </li>
                                <li role="separator" class="mdc-list-divider m-0"></li>
                                <li>
                                    <a href="login.html" class="mdc-list-item" role="menuitem">
                                        <i class="material-icons mat-icon-sm text-muted">power_settings_new</i> 
                                        <span class="mdc-list-item__text px-3">退出登录</span>
                                    </a>
                                </li> 
                            </ul>
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div>  
        <div id="main-toolbar" class="mdc-elevation--z2">
            <div class="theme-container row between-xs middle-xs h-100"> 
                <a class="logo" href="index"> 
                    <image src="./static/assets/images/others/logo.png" style="width: 60px; height: 60px;"></image>          
                </a>  
                <div class="horizontal-menu d-none d-md-flex d-lg-flex d-xl-flex">   
                    <div class="mdc-menu-surface--anchor"> 
                        <a href="javascript:void(0);" class="mdc-button menu-item-has-children"> 
                            <span class="mdc-button__ripple"></span> 
                            <span class="mdc-button__label">首页</span>
                        </a>  
                        <div class="mdc-menu mdc-menu-surface">
                            <div class="mdc-list"> 
                                <div> 
                                    <a href="header-default.html" class="mdc-button"> 
                                        <span class="mdc-button__ripple"></span>
                                        <span class="mdc-button__label">主页</span> 
                                    </a>  
                                </div>
                                <div> 
                                    <a href="index" class="mdc-button"> 
                                        <span class="mdc-button__ripple"></span>
                                        <span class="mdc-button__label">首页</span> 
                                    </a>  
                                </div>  

                                 
                            </div>
                        </div>  
                    </div>   
                    <div>
                        <a href="properties.html" class="mdc-button">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">筛选</span> 
                        </a> 
                    </div>  
                    <div class="mdc-menu-surface--anchor"> 
                        <a href="javascript:void(0);" class="mdc-button menu-item-has-children"> 
                            <span class="mdc-button__ripple"></span> 
                            <span class="mdc-button__label">更多</span> 
                        </a>  
                        <div class="mdc-menu mdc-menu-surface">
                            <div class="mdc-list"> 
                                <div> 
                                    <a href="property.html" class="mdc-button"> 
                                        <span class="mdc-button__ripple"></span>
                                        <span class="mdc-button__label">个人财产</span> 
                                    </a>  
                                </div><div> 
                                    <a href="agents.html" class="mdc-button"> 
                                        <span class="mdc-button__ripple"></span>
                                        <span class="mdc-button__label">代理</span> 
                                    </a>  
                                </div>
                                
                                <div> 
                                    <a href="login.html" class="mdc-button"> 
                                        <span class="mdc-button__ripple"></span>
                                        <span class="mdc-button__label">登录</span> 
                                    </a>  
                                </div>
                                <div> 
                                    <a href="register.html" class="mdc-button"> 
                                        <span class="mdc-button__ripple"></span>
                                        <span class="mdc-button__label">注册</span> 
                                    </a>  
                                </div>
                                <div> 
                                    <a href="faqs.html" class="mdc-button"> 
                                        <span class="mdc-button__ripple"></span>
                                        <span class="mdc-button__label">常见问题解答</span> 
                                    </a>  
                                </div>
 
                                <div> 
                                    <a href="terms.html" class="mdc-button"> 
                                        <span class="mdc-button__ripple"></span>
                                        <span class="mdc-button__label">条款与条件</span> 
                                    </a>  
                                </div>
                                <div> 
                                    <a href="index" class="mdc-button"> 
                                        <span class="mdc-button__ripple"></span>
                                        <span class="mdc-button__label">平台</span> 
                                    </a>  
                                </div>
                                
                                 
                            </div>
                        </div>  
                    </div>  
                    <div>
                        <a href="contact.html" class="mdc-button">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">联系</span> 
                        </a> 
                    </div> 
                    <div>
                        <a href="about.html" class="mdc-button">
                            <span class="mdc-button__ripple"></span>
                            <span class="mdc-button__label">关于我们</span> 
                        </a> 
                    </div>  
                </div> 
                <div class="row middle-xs"> 
                    <a href="favorites.html" class="mdc-icon-button material-icons d-none d-lg-flex d-xl-flex" title="Favorites">favorite_border</a> 
                    <a href="compare.html" class="mdc-icon-button material-icons d-none d-lg-flex d-xl-flex mr-3 ml-2" title="Compare list">compare_arrows</a>  
                    <a href="submit-property.html" class="mdc-fab mdc-fab--mini primary d-sm-none d-md-none d-lg-none d-xl-none">
                        <span class="mdc-fab__ripple"></span>
                        <span class="mdc-fab__icon material-icons">add</span>
                    </a>  
                    <a href="submit-property.html" class="mdc-button mdc-button--raised d-none d-sm-flex d-md-flex d-lg-flex d-xl-flex">
                        <span class="mdc-button__ripple"></span>
                        <span class="mdc-button__label">上架房屋</span> 
                    </a> 
                </div>  
            </div>
        </div> 
    </header>    
    <main>   
        <div class="px-3">  
            <div class="theme-container">   
                <div class="page-drawer-container mt-3">
                    
                    <aside class="mdc-drawer mdc-drawer--modal page-sidenav">
                        <a href="#" class="h-0"></a>
                        <div class="mdc-card"> 
                            <div class="row start-xs middle-xs p-3">
                                <img src="./static/assets/images/others/user.jpg" alt="user-image" class="avatar">
                                <h2 class="text-muted fw-500 mx-3">徐家福</h2> 
                            </div>
                            <hr class="mdc-list-divider m-0">
                            <ul class="mdc-list">
                                <li>
                                    <a href="profile.html" class="mdc-list-item py-1">
                                        <span class="mdc-list-item__graphic material-icons text-muted mx-3">person</span>
                                        <span class="mdc-list-item__text">用户资料</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="my-properties.html" class="mdc-list-item py-1">
                                        <span class="mdc-list-item__graphic material-icons text-muted mx-3">view_list</span>
                                        <span class="mdc-list-item__text">我的</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="favorites.html" class="mdc-list-item py-1">
                                        <span class="mdc-list-item__graphic material-icons text-muted mx-3">favorite</span>
                                        <span class="mdc-list-item__text">收藏夹</span>
                                    </a> 
                                </li>
                                <li>
                                    <a href="submit-property.html" class="mdc-list-item py-1">
                                        <span class="mdc-list-item__graphic material-icons text-muted mx-3">add_circle</span>
                                        <span class="mdc-list-item__text">出租</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="login.html" class="mdc-list-item py-1">
                                        <span class="mdc-list-item__graphic material-icons text-muted mx-3">power_settings_new</span>
                                        <span class="mdc-list-item__text">退出用户</span>
                                    </a>
                                </li>
                            </ul>  
                        </div>
                    </aside>
                    <div class="mdc-drawer-scrim page-sidenav-scrim"></div>  
                    <div class="page-sidenav-content"> 
                        <div class="row mdc-card between-xs middle-xs w-100 p-2 mdc-elevation--z1 text-muted d-md-none d-lg-none d-xl-none mb-3">
                            <button id="page-sidenav-toggle" class="mdc-icon-button material-icons">more_vert</button> 
                            <h3 class="fw-500">My Account</h3>
                        </div> 
                        <div class="mdc-card p-3">
                            <div class="mdc-text-field mdc-text-field--outlined custom-field w-100">
                                <input class="mdc-text-field__input" placeholder="Type for filter properties">
                                <div class="mdc-notched-outline">
                                    <div class="mdc-notched-outline__leading"></div>
                                    <div class="mdc-notched-outline__notch">
                                        <label class="mdc-floating-label">选择属性</label>
                                    </div>
                                    <div class="mdc-notched-outline__trailing"></div>
                                </div>
                            </div>  
                            <div class="mdc-data-table border-0 w-100 mt-3">
                                <table class="mdc-data-table__table" aria-label="Dessert calories">
                                    <thead>
                                        <tr class="mdc-data-table__header-row">
                                            <th class="mdc-data-table__header-cell">序号</th>
                                            <th class="mdc-data-table__header-cell">图片</th>
                                            <th class="mdc-data-table__header-cell">标题</th>
                                            <th class="mdc-data-table__header-cell">发表时间</th>
                                            <th class="mdc-data-table__header-cell">浏览量</th>
                                            <th class="mdc-data-table__header-cell">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody class="mdc-data-table__content">
                                        <tr class="mdc-data-table__row">
                                            <td class="mdc-data-table__cell">1</td>
                                            <td class="mdc-data-table__cell"><img src="./static/assets/images/props/flat-1/1-small.jpg" alt="pro-image" width="100" class="d-block py-3"></td>
                                            <td class="mdc-data-table__cell"><a href="property.html" class="mdc-button mdc-ripple-surface mdc-ripple-surface--primary normal">现代公寓</a></td>
                                            <td class="mdc-data-table__cell">12 August, 2012</td>
                                            <td class="mdc-data-table__cell">322</td>
                                            <td class="mdc-data-table__cell">
                                                <button class="mdc-icon-button material-icons primary-color">edit</button>
                                                <button class="mdc-icon-button material-icons warn-color">delete</button>
                                            </td>
                                        </tr>
                                        <tr class="mdc-data-table__row">
                                            <td class="mdc-data-table__cell">2</td>
                                            <td class="mdc-data-table__cell"><img src="./static/assets/images/props/office/1-small.jpg" alt="pro-image" width="100" class="d-block py-3"></td>
                                            <td class="mdc-data-table__cell"><a href="property.html" class="mdc-button mdc-ripple-surface mdc-ripple-surface--primary normal">位于市中心的办公室</a></td>
                                            <td class="mdc-data-table__cell">18 September, 2013</td>
                                            <td class="mdc-data-table__cell">258</td>
                                            <td class="mdc-data-table__cell">
                                                <button class="mdc-icon-button material-icons primary-color">edit</button>
                                                <button class="mdc-icon-button material-icons warn-color">delete</button>
                                            </td>
                                        </tr>
                                        <tr class="mdc-data-table__row">
                                            <td class="mdc-data-table__cell">3</td>
                                            <td class="mdc-data-table__cell"><img src="./static/assets/images/props/house-1/1-small.jpg" alt="pro-image" width="100" class="d-block py-3"></td>
                                            <td class="mdc-data-table__cell"><a href="property.html" class="mdc-button mdc-ripple-surface mdc-ripple-surface--primary normal">舒适家庭住宅</a></td>
                                            <td class="mdc-data-table__cell">19 November, 2013</td>
                                            <td class="mdc-data-table__cell">125</td>
                                            <td class="mdc-data-table__cell">
                                                <button class="mdc-icon-button material-icons primary-color">edit</button>
                                                <button class="mdc-icon-button material-icons warn-color">delete</button>
                                            </td>
                                        </tr>
                                        <tr class="mdc-data-table__row">
                                            <td class="mdc-data-table__cell">4</td>
                                            <td class="mdc-data-table__cell"><img src="./static/assets/images/props/flat-2/1-small.jpg" alt="pro-image" width="100" class="d-block py-3"></td>
                                            <td class="mdc-data-table__cell"><a href="property.html" class="mdc-button mdc-ripple-surface mdc-ripple-surface--primary normal">宽敞温暖的公寓</a></td>
                                            <td class="mdc-data-table__cell">29 March, 2016</td>
                                            <td class="mdc-data-table__cell">452</td>
                                            <td class="mdc-data-table__cell">
                                                <button class="mdc-icon-button material-icons primary-color">edit</button>
                                                <button class="mdc-icon-button material-icons warn-color">delete</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> 
                        </div> 
                        <div class="row center-xs middle-xs my-3 w-100">                
                            <div class="mdc-card w-100"> 
                                <ul class="theme-pagination">
                                    <li class="pagination-previous disabled"><span>上一页</span></li>
                                    <li class="current"><span>1</span></li>
                                    <li><a><span>2</span></a></li>
                                    <li><a><span>3</span></a></li>
                                    <li><a><span>4</span></a></li>
                                    <li class="pagination-next"><a><span>下一页</span></a></li>
                                </ul> 
                            </div>
                        </div> 
                    </div> 
                </div>  
            </div>  
        </div> 
    </main> 
 
    <div id="back-to-top"><i class="material-icons">arrow_upward</i></div>
    <script src="./static/js/libs/jquery.min.js"></script> 
    <script src="./static/js/libs/material-components-web.min.js"></script> 
    <script src="./static/js/libs/swiper.min.js"></script> 
    <script src="./static/js/scripts.js"></script>  
</body>
</html>