<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Housekey</title>
    <link rel="stylesheet" href="./static/css/libs/swiper.min.css">
    <link rel="stylesheet" href="./static/css/Montserrat.css">
    <link rel="stylesheet" href="./static/css/icon.css">
    <link rel="stylesheet" href="./static/css/libs/material-components-web.min.css">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/skins/blue.css">
    <link rel="stylesheet" href="./static/css/responsive.css">
</head>

<body class="mdc-theme--background">
    <div class="spinner-wrapper" id="preloader">
        <div class="spinner-container">
            <div class="spinner-outer">
                <div class="spinner">
                    <div class="left mask">
                        <div class="plane"></div>
                    </div>
                    <div class="top mask">
                        <div class="plane"></div>
                    </div>
                    <div class="right mask">
                        <div class="plane"></div>
                    </div>
                    <div class="triangle">
                        <div class="triangle-plane"></div>
                    </div>
                    <div class="top-left mask">
                        <div class="plane"></div>
                    </div>
                    <div class="top-right mask">
                        <div class="plane"></div>
                    </div>
                </div>
                <p class="spinner-text">HouseKey</p>
            </div>
        </div>
    </div>

    <aside class="mdc-drawer mdc-drawer--modal sidenav">
        <div class="row end-xs middle-xs py-1 px-3">
            <button id="sidenav-close" class="mdc-icon-button material-icons warn-color">close</button>
        </div>
        <hr class="mdc-list-divider m-0">
        <div class="mdc-drawer__content">
            <div class="vertical-menu">
                <div class="mdc-menu-surface--anchor">
                    <a href="index" class="mdc-button menu-item-has-children">
                       
                        <span class="mdc-button__label">首页</span>
                    </a>
                    <div class="mdc-menu mdc-menu-surface">
                        <div class="mdc-list">
                            <div>
                                <a href="header-default.html" class="mdc-button">

                                    <span class="mdc-button__label" style="color: aliceblue;">主页</span>
                                </a>
                            </div>
                            <div>
                                <a href="index" class="mdc-button">

                                    <span class="mdc-button__label">首页</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <a href="properties.html" class="mdc-button">

                        <span class="mdc-button__label">筛选</span>
                    </a>
                </div>
                <div class="mdc-menu-surface--anchor">
                    <a href="index" class="mdc-button menu-item-has-children">

                        <span class="mdc-button__label">更多</span>
                    </a>
                    <div class="mdc-menu mdc-menu-surface">
                        <div class="mdc-list">
                            <div>
                                <a href="property.html" class="mdc-button">

                                    <span class="mdc-button__label">个人财产</span>
                                </a>
                            </div>
                            <div>
                                <a href="agents.html" class="mdc-button">

                                    <span class="mdc-button__label">代理</span>
                                </a>
                            </div>

                            <div>
                                <a href="login.html" class="mdc-button">

                                    <span class="mdc-button__label">登录</span>
                                </a>
                            </div>
                            <div>
                                <a href="register.html" class="mdc-button">

                                    <span class="mdc-button__label">注册</span>
                                </a>
                            </div>
                            <div>
                                <a href="faqs.html" class="mdc-button">

                                    <span class="mdc-button__label">常见问题解答</span>
                                </a>
                            </div>
                            <div>
                                <a href="pricing.html" class="mdc-button">
                                    <span class="mdc-button__ripple">筛选</span>
                                </a>
                            </div>
                            <div>
                                <a href="terms.html" class="mdc-button">

                                    <span class="mdc-button__label">条款与条件</span>
                                </a>
                            </div>
                            <div>
                                <a href="index" class="mdc-button">

                                    <span class="mdc-button__label">平台</span>
                                </a>
                            </div>
                            <div>
                                <a href="404.html" class="mdc-button">

                                    <span class="mdc-button__label">404页面</span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div>
                    <a href="contact.html" class="mdc-button">
                       
                        <span class="mdc-button__label">联系</span>
                    </a>
                </div>
                <div>
                    <a href="about.html" class="mdc-button">

                        <span class="mdc-button__label">关于我们</span>
                    </a>
                </div>
            </div>
        </div>
        <hr class="mdc-list-divider m-0">

    </aside>
    <div class="mdc-drawer-scrim sidenav-scrim"></div>
    <header class="toolbar-1 has-bg-image">
        <div id="top-toolbar" class="mdc-top-app-bar">
            <div class="theme-container row between-xs middle-xs h-100">
                <div class="row end-xs middle-xs"></div>
                <div class="mdc-menu-surface--anchor">
                    <button class="mdc-button mdc-ripple-surface">
                       
                        <i class="material-icons mdc-button__icon mx-1">people</i>
                        <span class="mdc-button__label">账户</span>
                        <i class="material-icons mdc-button__icon m-0">sorrow_drop_down</i>
                    </button>
                    <div class="mdc-menu mdc-menu-surface user-menu">
                        <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
                            <li class="user-info row start-xs middle-xs">
                                <img src="./static/assets/images/others/user.jpg" alt="user-image" width="50">
                                <p class="m-0">Emilio Verdines <br> <small><i>emilio_v</i></small></p>
                            </li>
                            <li role="separator" class="mdc-list-divider m-0"></li>
                            <li>
                                <a href="submit-property.html" class="mdc-list-item" role="menuitem">
                                    <i class="material-icons mat-icon-sm text-muted">add_circle</i>
                                    <span class="mdc-list-item__text px-3">上架房屋</span>
                                </a>
                            </li>
                            <li>
                                <a href="my-properties.html" class="mdc-list-item" role="menuitem">
                                    <i class="material-icons mat-icon-sm text-muted">home</i>
                                    <span class="mdc-list-item__text px-3">我的财产</span>
                                </a>
                            </li>
                            <li>
                                <a href="favorites.html" class="mdc-list-item" role="menuitem">
                                    <i class="material-icons mat-icon-sm text-muted">favorite_border</i>
                                    <span class="mdc-list-item__text px-3">我的喜爱
                                        <span class="badge warn">2</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="compare.html" class="mdc-list-item" role="menuitem">
                                    <i class="material-icons mat-icon-sm text-muted">compare_arrows</i>
                                    <span class="mdc-list-item__text px-3">对比
                                        <span class="badge primary">3</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="mdc-list-item" role="menuitem">
                                    <i class="material-icons mat-icon-sm text-muted">search</i>
                                    <span class="mdc-list-item__text px-3">保存搜索</span>
                                </a>
                            </li>
                            <li>
                                <a href="profile.html" class="mdc-list-item" role="menuitem">
                                    <i class="material-icons mat-icon-sm text-muted">edit</i>
                                    <span class="mdc-list-item__text px-3">编辑配置文件</span>
                                </a>
                            </li>
                            <li>
                                <a href="lock-screen.html" class="mdc-list-item" role="menuitem">
                                    <i class="material-icons mat-icon-sm text-muted">lock</i>
                                    <span class="mdc-list-item__text px-3">锁定屏幕</span>
                                </a>
                            </li>
                            <li>
                                <a href="faqs.html" class="mdc-list-item" role="menuitem">
                                    <i class="material-icons mat-icon-sm text-muted">help</i>
                                    <span class="mdc-list-item__text px-3">帮助</span>
                                </a>
                            </li>
                            <li role="separator" class="mdc-list-divider m-0"></li>
                            <li>
                                <a href="login.html" class="mdc-list-item" role="menuitem">
                                    <i class="material-icons mat-icon-sm text-muted">power_settings_new</i>
                                    <span class="mdc-list-item__text px-3">退出登录</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div id="main-toolbar" class="mdc-elevation--z2" style="background-color: rgb(255, 255, 255);">
            <div class="theme-container row between-xs middle-xs h-100">
                <image src="././static/assets/images//others/logo.png" style="width: 60px; height: 60px;"></image>
                <div class="horizontal-menu d-none d-md-flex d-lg-flex d-xl-flex">
                    <div class="mdc-menu-surface--anchor">
                        <a href="index" class="mdc-button menu-item-has-children mdc-ripple-upgraded">
                            <span>首页</span>
                        </a>
                    </div>
                </div>
                <div>
                    <a href="header-default.html" class="mdc-button mdc-ripple-upgraded">
                        <span class="mdc-button__label" style="color: aliceblue;">主页</span>
                    </a>
                </div>
                <div>
                    <a href="contact.html" class="mdc-button active-link mdc-ripple-upgraded">
                        <span class="mdc-button__label" style="color: aliceblue;">联系我们</span>
                    </a>
                </div>
                <div class="mdc-menu-surface--anchor">
                    <a href="javascript:void(0);" class="mdc-button menu-item-has-children mdc-ripple-upgraded">
                        <span class="mdc-button__label" style="color: aliceblue;">更多</span>
                    </a>
                    <div class="mdc-menu mdc-menu-surface">
                        <div class="mdc-list">
                            <div>
                                <a href="login.html" class="mdc-button mdc-ripple-upgraded">
                                    <span class="mdc-button__label">登录</span>
                                </a>
                            </div>
                            <div>
                                <a href="register.html" class="mdc-button mdc-ripple-upgraded">
                                    <span class="mdc-button__label">注册</span>
                                </a>
                            </div>
                            <div>
                                <a href="property.html" class="mdc-button mdc-ripple-upgraded">
                                    <span class="mdc-button__label">个人财产</span>
                                </a>
                            </div>
                            <div>
                                <a href="properties.html" class="mdc-button mdc-ripple-upgraded ">
                                    <span class="mdc-button__label ">筛选</span>
                                </a>
                            </div>
                            <div>
                                <a href="faqs.html" class="mdc-button mdc-ripple-upgraded">
                                    <span class="mdc-button__label">常见问题解答</span>
                                </a>
                            </div>

                            <div>
                                <a href="terms.html" class="mdc-button mdc-ripple-upgraded">
                                    <span class="mdc-button__label">条款与条件</span>
                                </a>
                            </div>
                            <div>
                                <a href="index" class="mdc-button mdc-ripple-upgraded">
                                    <span class="mdc-button__label">平台</span>
                                </a>
                            </div>
                            <div class="mdc-menu-surface--anchor">
                                <a href="#" class="mdc-button menu-item-has-children mdc-ripple-upgraded">
                                   
                                    <span class="mdc-button__label">其他</span>
                                </a>
                                <div class="mdc-menu mdc-menu-surface">
                                    <div class="mdc-list">
                                        <div>
                                            <a href="http://themeseason.com" target="_blank"
                                                class="mdc-button mdc-ripple-upgraded">
                                                <span class="mdc-button__label">问题反馈</span>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row middle-xs">
                    <a href="favorites.html" class="mdc-icon-button material-icons d-none d-lg-flex d-xl-flex"
                        title="喜爱">favorite_border</a>
                    <a href="compare.html" class="mdc-icon-button material-icons d-none d-lg-flex d-xl-flex mr-3 ml-2"
                        title="对比">compare_arrows</a>
                    <a href="submit-property.html"
                        class="mdc-fab mdc-fab--mini primary d-sm-none d-md-none d-lg-none d-xl-none mdc-ripple-upgraded">
                        <span class="mdc-fab__icon material-icons">add</span>
                    </a>
                    <a href="submit-property.html"
                        class="mdc-button mdc-button--raised d-none d-sm-flex d-md-flex d-lg-flex d-xl-flex mdc-ripple-upgraded">
                        <span class="mdc-button__label">上架房屋</span>
                    </a>
                </div>
            </div>

        </div>
    </header>
    <main class="content-offset-to-top">
        <div class="header-image-wrapper">
            <div class="bg" style="background-image: url('./static/assets/images/others/about.jpg');"></div>
            <div class="mask"></div>
            <div class="header-image-content offset-bottom">
                <h1 class="title">关于我们</h1>
                <p class="desc">我们能帮你找到你想要的房子</p>
            </div>
        </div>
        <div class="px-3">
            <div class="theme-container">
                <div class="mdc-card main-content-header pt-0">
                    <div class="section pt-0">
                        <div class="px-3">
                            <div class="theme-container">
                                <h1 class="section-title">我们的故事</h1>
                                <p class="px-3">偶尔把手放在胸前，感受一下心跳的声音，今天也有7吨血液走过了10万公里的路程
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 p-3">
                                            <div class="row start-xs middle-xs">
                                                <i class="material-icons mat-icon-xlg primary-color">business</i>
                                                <h2 class="capitalize fw-600 mx-2">关于我们小组</h2>
                                            </div>
                                            <p class="mt-2">
                                                只是在一个和往常一样的清晨，有的人留在昨天了。其实所谓的生死离别，不是什么肝肠寸断，也不是长亭外古道边，更不是劝君更尽一杯酒，西出阳关无故人。只不过是一个普通的早晨，太阳照常升起消散了清晨的薄雾，有的人上班，有的人晨练，有的人还没睡醒，也有的人留在了昨天。
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 p-3">
                                            <div class="row start-xs middle-xs">
                                                <i class="material-icons mat-icon-xlg primary-color">list_alt</i>
                                                <h2 class="capitalize fw-600 mx-2">愿景</h2>
                                            </div>
                                            <p class="mt-2">晚风轻踩着云朵，夕阳深处有一家橙色的便利店贩卖着橙色与温柔。
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section default">
            <div class="px-3">
                <div class="theme-container">
                    <h1 class="section-title">我们的目标</h1>
                    <div class="mdc-card p-0 row o-hidden">
                        <div class="col-xs-12 col-lg-6 col-xl-6 p-3">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-2">
                                    <i class="material-icons mat-icon-xlg primary-color">monetization_on</i>
                                    <h2 class="capitalize fw-600 mb-2">优惠</h2>
                                    <p class="text-muted fw-500">我们希望能让用户花更少的钱住自己更喜欢的房子
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-2">
                                    <i class="material-icons mat-icon-xlg primary-color">thumb_up</i>
                                    <h2 class="capitalize fw-600 mb-2">好的点子</h2>
                                    <p class="text-muted fw-500">希望我们的想法能帮助别人
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-2">
                                    <i class="material-icons mat-icon-xlg primary-color">group</i>
                                    <h2 class="capitalize fw-600 mb-2">合作</h2>
                                    <p class="text-muted fw-500">希望我们能友好合作
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-2">
                                    <i class="material-icons mat-icon-xlg primary-color">search</i>
                                    <h2 class="capitalize fw-600 mb-2">更加方便搜索</h2>
                                    <p class="text-muted fw-500">方便用户使用搜索
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-6 col-xl-6 p-0 d-none d-lg-flex d-xl-flex">
                            <img src="./static/assets/images/others/mission.jpg" alt="mission" class="mw-100 d-block">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="section testimonials">
            <div class="px-3">
                <div class="theme-container">
                    <h1 class="section-title">小组成员</h1>
                    <div class="testimonials-carousel">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="content text-center">
                                        <img src="./static/assets/images/profile/adam.jpg" alt="adam">
                                        <div class="quote open text-left primary-color">“</div>
                                        <p class="text">UX设计不应该带有任何个人色彩，应该有足够的包容心和同理心。</p>
                                        <div class="quote close text-right primary-color">”</div>
                                        <h3 class="author">钟万顺</h3>
                                        <p>小组组长</p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="content text-center">
                                        <img src="./static/assets/images/profile/gao.jpg" alt="gao">
                                        <div class="quote open text-left primary-color">“</div>
                                        <p class="text">真正的敏捷是一件很有价值的事。因为时间是衡量事业的标准，如金钱是衡量货物的标准</p>
                                        <div class="quote close text-right primary-color">”</div>
                                        <h3 class="author">高宇锦</h3>
                                        <p>小组组员</p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="content text-center">
                                        <img src="./static/assets/images/profile/bruno.jpg" alt="bruno">
                                        <div class="quote open text-left primary-color">“</div>
                                        <p class="text">时间最不偏私，给任何人都是二十四小时；时间也最偏私，给任何人都不是二十四小时</p>
                                        <div class="quote close text-right primary-color">”</div>
                                        <h3 class="author">肖豪杰</h3>
                                        <p>小组组员</p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="content text-center">
                                        <img src="./static/assets/images/profile/julia.jpg" alt="julia">
                                        <div class="quote open text-left primary-color">“</div>
                                        <p class="text">人的心只容得下一定程度的绝望，海绵已经吸够了水，即使大海从它上面流过，也不能再给它增添一滴水了。</p>
                                        <div class="quote close text-right primary-color">”</div>
                                        <h3 class="author">谭乐明</h3>
                                        <p>小组组员</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="back-to-top"><i class="material-icons">arrow_upward</i></div>
        <script src="./static/js/libs/jquery.min.js"></script>
        <script src="./static/js/libs/material-components-web.min.js"></script>
        <script src="./static/js/libs/swiper.min.js"></script>
        <script src="./static/js/scripts.js"></script>
</body>

</html>